---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="dark:bg-stone-950 font-inter dark:text-white md:max-w-screen-md md:mx-auto mx-4"
  >
    <Navbar />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img
                src={heroImage}
                alt=""
                class="pb-2 object-cover w-full max-h-96"
              />
            )
          }
        </div>
        <div class="">
          <div class="">
            <h1 class="text-4xl font-semibold">{title}</h1>
            <div class="text-sm mb-2">
              Last Updated: <FormattedDate date={pubDate} />
            </div>
          </div>
          <div class="prose prose-stone dark:prose-invert w-full">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
