---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  anim?: boolean;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-stone-900">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {SITE_TITLE}</title>

    <meta
      name="description"
      content="I'm a passionate lighting programmer and designer with a passion for creating impactful visual experiences."
    />
    <meta
      name="keywords"
      content="lighting design, theatrical services, web developer, etc eos"
    />

    <meta property="og:title" content={`${title} | ${SITE_TITLE}`} />
    <meta
      property="og:title"
      content="Marcus Leonas Harvey is a passionate lighting designer and programmer from the UK."
    />
    <meta property="og:type" content="website" />

    <meta name="author" content="Marcus Leonas Harvey" />
    <meta name="robots" , content="index, follow" />

    <script
      defer
      data-domain="marcusleonasharvey.com"
      src="https://plausible.flvffy.top/js/script.outbound-links.js"></script>
  </head>
  <body class="mx-4 my-4 max-w-[600px] font-serif text-white md:mx-auto">
    <Header />
    <main
      class={`motion-preset-slide-down motion-preset-fade motion-delay-400`}
    >
      <slot />
    </main>
  </body>
</html>
